<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>servlets.FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowGoods</servlet-name>
        <servlet-class>servlets.ShowGoods</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact_us</servlet-name>
        <servlet-class>servlets.Contact_us</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMessages</servlet-name>
        <servlet-class>servlets.ViewMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoUploadHib</servlet-name>
        <servlet-class>servlets.PhotoUploadHib</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transactions</servlet-name>
        <servlet-class>servlets.Transactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTransactions</servlet-name>
        <servlet-class>servlets.ViewTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewContactS</servlet-name>
        <servlet-class>servlets.ViewContactS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGoodsAdmin</servlet-name>
        <servlet-class>servlets.ViewGoodsAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnUploads</servlet-name>
        <servlet-class>servlets.ViewOwnUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personalDelete</servlet-name>
        <servlet-class>servlets.personalDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDelete</servlet-name>
        <servlet-class>servlets.adminDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>servlets.MailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletedTransactions</servlet-name>
        <servlet-class>servlets.CompletedTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDoneTransactions</servlet-name>
        <servlet-class>servlets.GetDoneTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformBuyerServlet</servlet-name>
        <servlet-class>servlets.InformBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendLinkServlet</servlet-name>
        <servlet-class>servlets.SendLinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>servlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowGoods</servlet-name>
        <url-pattern>/ShowGoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact_us</servlet-name>
        <url-pattern>/Contact_us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMessages</servlet-name>
        <url-pattern>/ViewMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoUploadHib</servlet-name>
        <url-pattern>/PhotoUploadHib</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transactions</servlet-name>
        <url-pattern>/Transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTransactions</servlet-name>
        <url-pattern>/ViewTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewContactS</servlet-name>
        <url-pattern>/ViewContactS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGoodsAdmin</servlet-name>
        <url-pattern>/ViewGoodsAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnUploads</servlet-name>
        <url-pattern>/ViewOwnUploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalDelete</servlet-name>
        <url-pattern>/personalDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDelete</servlet-name>
        <url-pattern>/adminDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletedTransactions</servlet-name>
        <url-pattern>/CompletedTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoneTransactions</servlet-name>
        <url-pattern>/GetDoneTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformBuyerServlet</servlet-name>
        <url-pattern>/InformBuyerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendLinkServlet</servlet-name>
        <url-pattern>/SendLinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
